<h1>Menu Item Show</h1>


<% if @menu_item.image? %>
    <%= image_tag(@menu_item.image.url, alt: 'Image') if @menu_item.image? %>
<% end %>

<h2><%= @menu_item.name %></h2>
<p>
    <strong>Category: <%= @menu_item.category %></strong>
</p>
<p>
    <strong><%= @menu_item.price %></strong>
</p>

<p>
    <strong>Description:</strong><br>
    <%= @menu_item.description %>
</p>


<%= form_tag line_items_path, method: :post do%>
    <%= hidden_field_tag :order_id, @current_order.id%>
    <%= hidden_field_tag :menu_item_id, @menu_item.id%>
    <%= number_field_tag :quantity, 1 %>
    <%= submit_tag "Add to Cart"%>
<% end %>

<%= button_to 'Back', menus_path, :method => :get %>
